version: '3.8'

services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: avs
      POSTGRES_PASSWORD: avs_pass
      POSTGRES_DB: avsdb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./sql:/docker-entrypoint-initdb.d

  mqtt:
    image: eclipse-mosquitto:1.6.15
    ports:
      - "1883:1883"
      - "9001:9001"
    restart: unless-stopped

volumes:
  pgdata:
